In [3]:
a = 3
b = 3
c = a+b
c

6

In [8]:
!pip3 install pandas

'pip3' is not recognized as an internal or external command,
operable program or batch file.

In [10]:
from math import ceil, floor

In [11]:
ceil()

1

# Heading 1

`This is a code block`

<img src=''>

In [9]:
!pip3 install pandas

'pip3' is not recognized as an internal or external command,
operable program or batch file.

In [12]:
import pandas as pd

# Data Types

## Level 1

In [13]:
_char = 'a'
_int = 1
_float = 1.2
_bool = True

In [15]:
type(_char)

str

In [27]:
_char.isdecimal()

False

In [25]:
_char.upper()

'A'

## Level 2

In [20]:
_list = [1,2,3, 'a']
_list

[1, 2, 3, 'a']

In [28]:
len(_list)

4

In [21]:
_dict = {'key1': _list, 
         'key2': 'value2'}
_dict

{'key1': [1, 2, 3, 'a'], 'key2': 'value2'}

In [18]:
_set = {1,2,3,4,2}
_set

{1, 2, 3, 4}

## Level 3 - Basic Classses

In [22]:
import numpy as np

In [33]:
arr = np.array([[1,2,3], [1,2,3], [1,2,3]])
arr.shape

(3, 3)

In [34]:
arr

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

In [36]:
arr.sum(axis=0)

array([3, 6, 9])

In [39]:
arr.dot(np.array([1,2,3]))

array([14, 14, 14])

## Level 4 - Advanced Classes

In [40]:
import pandas as pd

### Example Class

In [72]:
SPEED_LIMIT = 5
class Vehicle:
    def __init__(self, speed):
        assert type(speed) == float, "speed needs to be float"
        self.speed = speed
    def is_speeding(self):
        b = self.speed > SPEED_LIMIT
        return b

In [73]:
car1 = Vehicle(1.)

In [74]:
car1.speed

1.0

In [75]:
car2 = Vehicle(2.)

In [76]:
car2.speed

2.0

In [77]:
vehicles = []
for i in range(10):
    print(i)
    f = float(i)
    veh = Vehicle(f)
    vehicles.append(veh)

0
1
2
3
4
5
6
7
8
9

In [78]:
vehicles[3].speed

3.0

In [79]:
for vehicle in vehicles:
    print(vehicle.is_speeding())

False
False
False
False
False
False
True
True
True
True

In [86]:
df = pd.read_csv(r'C:\Users\colli\Desktop\Dev\metadatagenerator\dummy-data.csv')

In [87]:
df = pd.read_csv('./dummy-data.csv', )

In [89]:
df

,token_id,blockchain,tx,smart_contract_address,image,description,owner
0,–,Binance Smart Chain,NaN,NaN,f0e0fe5e-f5cc-444d-8428-c9ed467de828_fullsize....,BIL Team Photo,TG777
1,5284,BSC,0x5331de7bce629c523d5d531cd9d3fd3c650f4d17341d...,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,fc835a20-bd0c-46d8-b8c9-f05a0619d646_fullsize....,Captain Phepsi Buthelezi's Boots,(burned)
2,5285,BSC,NaN,NaN,d4c71269-df3b-48d5-93be-864fa64e33df_fullsize....,Sharks Jersey,TG777
3,5743,BSC,NaN,NaN,929e17e6-7325-4a66-838a-295838fbab6e_fullsize....,Photo A: Anthony Volmink,Mr.NFT
4,5745,BSC,NaN,NaN,8fcfc6d4-9e75-46d1-b80c-fb50718fdf0d_fullsize....,Photo B: Siya Kolisi,GT001
5,5747,BSC,NaN,NaN,dd4694ff-cf5b-414b-a7b4-aea49107df18_fullsize....,Photo C: Locker Room,JohanGvd
6,5753,BSC,0x17e91fdaf641e26876cf42a5e8277a3ba7ad02ba2e9f...,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,72a3651d-f6b6-43c8-a3af-2a43804c837c_fullsize....,Curwin Bosch Signed BIL Jersey,Frederick
7,5754,BSC,0x40a7bf7225e962c3f3d23b615c4fd6277fb11aa6500e...,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,72a3aa72-b310-4dec-90fc-ac3671c104e3_fullsize....,Jeremy Ward Signed BIL Jersey,Frederick
8,5757,BSC,NaN,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,d6b6bc43-5b88-4300-b9d5-7267372ba39c_fullsize....,Player 23 Seat Prize Draw,JohanGvd
9,5905,BSC,0x8e625a5b6c1746ebafb82c394bff8a9d8f3b0184bf3c...,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,4529a7de-9015-46a1-b6f3-c8fc1d25bcb9_fullsize....,John Sit Springbok Century Jersey,Malcom
10,6832,BSC,0xb86b02627d2b05526d1771411bdfde6b30abf8df00e8...,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,fc835a20-bd0c-46d8-b8c9-f05a0619d646_fullsize....,Captain Phepsi Buthelezi's Boots,Ryanielove3

In [ ]:
{'asdfasdfa.jpg': 1,
 'asdfasdf.jpg': 2}

In [90]:
type(df)

pandas.core.frame.DataFrame

In [92]:
type(df['token_id'])

pandas.core.series.Series

In [95]:
df['token_id']

0        –
1     5284
2     5285
3     5743
4     5745
5     5747
6     5753
7     5754
8     5757
9     5905
10    6832
Name: token_id, dtype: object

In [98]:
df2 = df[['token_id','blockchain']]

In [99]:
df2

   token_id           blockchain
0         –  Binance Smart Chain
1      5284                  BSC
2      5285                  BSC
3      5743                  BSC
4      5745                  BSC
5      5747                  BSC
6      5753                  BSC
7      5754                  BSC
8      5757                  BSC
9      5905                  BSC
10     6832                  BSC

In [103]:
df['tx'] = df['tx'].fillna('0x')

In [104]:
df

,token_id,blockchain,tx,smart_contract_address,image,description,owner
0,–,Binance Smart Chain,0x,NaN,f0e0fe5e-f5cc-444d-8428-c9ed467de828_fullsize....,BIL Team Photo,TG777
1,5284,BSC,0x5331de7bce629c523d5d531cd9d3fd3c650f4d17341d...,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,fc835a20-bd0c-46d8-b8c9-f05a0619d646_fullsize....,Captain Phepsi Buthelezi's Boots,(burned)
2,5285,BSC,0x,NaN,d4c71269-df3b-48d5-93be-864fa64e33df_fullsize....,Sharks Jersey,TG777
3,5743,BSC,0x,NaN,929e17e6-7325-4a66-838a-295838fbab6e_fullsize....,Photo A: Anthony Volmink,Mr.NFT
4,5745,BSC,0x,NaN,8fcfc6d4-9e75-46d1-b80c-fb50718fdf0d_fullsize....,Photo B: Siya Kolisi,GT001
5,5747,BSC,0x,NaN,dd4694ff-cf5b-414b-a7b4-aea49107df18_fullsize....,Photo C: Locker Room,JohanGvd
6,5753,BSC,0x17e91fdaf641e26876cf42a5e8277a3ba7ad02ba2e9f...,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,72a3651d-f6b6-43c8-a3af-2a43804c837c_fullsize....,Curwin Bosch Signed BIL Jersey,Frederick
7,5754,BSC,0x40a7bf7225e962c3f3d23b615c4fd6277fb11aa6500e...,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,72a3aa72-b310-4dec-90fc-ac3671c104e3_fullsize....,Jeremy Ward Signed BIL Jersey,Frederick
8,5757,BSC,0x,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,d6b6bc43-5b88-4300-b9d5-7267372ba39c_fullsize....,Player 23 Seat Prize Draw,JohanGvd
9,5905,BSC,0x8e625a5b6c1746ebafb82c394bff8a9d8f3b0184bf3c...,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,4529a7de-9015-46a1-b6f3-c8fc1d25bcb9_fullsize....,John Sit Springbok Century Jersey,Malcom
10,6832,BSC,0xb86b02627d2b05526d1771411bdfde6b30abf8df00e8...,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,fc835a20-bd0c-46d8-b8c9-f05a0619d646_fullsize....,Captain Phepsi Buthelezi's Boots,Ryanielove3

In [125]:
def clean_image(image_str):
    return image_str.split(' ')[1].replace('(','').replace(')','')

In [126]:
clean_image(df['image'].values[0])

'https://dl.airtable.com/.attachments/6c4a96f8663df6a4b839d299b42a5a70/6d9c8af4/f0e0fe5e-f5cc-444d-8428-c9ed467de828_fullsize.jpg'

lambda is a nameless functiony

In [130]:
df['image'] = df['image'].apply(lambda x: x.split(' ')[1].replace('(','').replace(')',''))

In [131]:
df

,token_id,blockchain,tx,smart_contract_address,image,description,owner
0,–,Binance Smart Chain,0x,NaN,https://dl.airtable.com/.attachments/6c4a96f86...,BIL Team Photo,TG777
1,5284,BSC,0x5331de7bce629c523d5d531cd9d3fd3c650f4d17341d...,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,https://dl.airtable.com/.attachments/0c32934c4...,Captain Phepsi Buthelezi's Boots,(burned)
2,5285,BSC,0x,NaN,https://dl.airtable.com/.attachments/b143625af...,Sharks Jersey,TG777
3,5743,BSC,0x,NaN,https://dl.airtable.com/.attachments/cf3fdd63e...,Photo A: Anthony Volmink,Mr.NFT
4,5745,BSC,0x,NaN,https://dl.airtable.com/.attachments/397d192e1...,Photo B: Siya Kolisi,GT001
5,5747,BSC,0x,NaN,https://dl.airtable.com/.attachments/1c36a48dc...,Photo C: Locker Room,JohanGvd
6,5753,BSC,0x17e91fdaf641e26876cf42a5e8277a3ba7ad02ba2e9f...,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,https://dl.airtable.com/.attachments/d1ed75497...,Curwin Bosch Signed BIL Jersey,Frederick
7,5754,BSC,0x40a7bf7225e962c3f3d23b615c4fd6277fb11aa6500e...,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,https://dl.airtable.com/.attachments/3da47d8bb...,Jeremy Ward Signed BIL Jersey,Frederick
8,5757,BSC,0x,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,https://dl.airtable.com/.attachments/dadb4020a...,Player 23 Seat Prize Draw,JohanGvd
9,5905,BSC,0x8e625a5b6c1746ebafb82c394bff8a9d8f3b0184bf3c...,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,https://dl.airtable.com/.attachments/b1bebb56f...,John Sit Springbok Century Jersey,Malcom
10,6832,BSC,0xb86b02627d2b05526d1771411bdfde6b30abf8df00e8...,0x3e855B7941fE8ef5F07DAd68C5140D6a3EC1b286,https://dl.airtable.com/.attachments/b59b1dd08...,Captain Phepsi Buthelezi's Boots,Ryanielove3

In [155]:
TEMPLATE = {
  "name": "",
#   "external_url": "",
  "image": "",
  "description": "",
  # "attributes": [
  #   # { "trait_type": "", "value": "" },
  #   # { "trait_type": "", "value": "" }
  # ]
}

In [160]:
import json
import copy

In [157]:
TEMPLATE

{'name': '', 'image': '', 'description': '', 'attributes': []}

In [166]:
jsons = []
for i, row in df.iterrows():
    # print(i)
    name = row['description']
    description = row['description']
    image = row['image']    

    # print(name, image)
    template = copy.deepcopy(TEMPLATE)
    template['name'] = name
    template['description'] = description
    template['image'] = image
    template['attributes'] = [{ "trait_type": "Owner", "value": row['owner'] }]
    jsons.append(template)

In [167]:
jsons

[{'name': 'BIL Team Photo',
  'image': 'https://dl.airtable.com/.attachments/6c4a96f8663df6a4b839d299b42a5a70/6d9c8af4/f0e0fe5e-f5cc-444d-8428-c9ed467de828_fullsize.jpg',
  'description': 'BIL Team Photo',
  'attributes': [{'trait_type': 'Owner', 'value': 'TG777'}]},
 {'name': "Captain Phepsi Buthelezi's Boots",
  'image': 'https://dl.airtable.com/.attachments/0c32934c491f76ed4e4c31410c74f3b8/ed1874c8/fc835a20-bd0c-46d8-b8c9-f05a0619d646_fullsize.jpg',
  'description': "Captain Phepsi Buthelezi's Boots",
  'attributes': [{'trait_type': 'Owner', 'value': '(burned)'}]},
 {'name': 'Sharks Jersey',
  'image': 'https://dl.airtable.com/.attachments/b143625af036634f011e1052b87c9f53/3d15394f/d4c71269-df3b-48d5-93be-864fa64e33df_fullsize.jpg,',
  'description': 'Sharks Jersey',
  'attributes': [{'trait_type': 'Owner', 'value': 'TG777'}]},
 {'name': 'Photo A: Anthony Volmink',
  'image': 'https://dl.airtable.com/.attachments/cf3fdd63e5b7ddd8dd83bc16c40936f5/c0415b9d/929e17e6-7325-4a66-838a-295838fbab6e_fullsize.jpg',
  'description': 'Photo A: Anthony Volmink',
  'attributes': [{'trait_type': 'Owner', 'value': 'Mr.NFT'}]},
 {'name': 'Photo B: Siya Kolisi',
  'image': 'https://dl.airtable.com/.attachments/397d192e173ec9cb1642e3555e8fc51c/c8b62780/8fcfc6d4-9e75-46d1-b80c-fb50718fdf0d_fullsize.jpg',
  'description': 'Photo B: Siya Kolisi',
  'attributes': [{'trait_type': 'Owner', 'value': 'GT001'}]},
 {'name': 'Photo C: Locker Room',
  'image': 'https://dl.airtable.com/.attachments/1c36a48dce5b29b13e0794ede9b93315/06c48626/dd4694ff-cf5b-414b-a7b4-aea49107df18_fullsize.jpg',
  'description': 'Photo C: Locker Room',
  'attributes': [{'trait_type': 'Owner', 'value': 'JohanGvd'}]},
 {'name': 'Curwin Bosch Signed BIL Jersey',
  'image': 'https://dl.airtable.com/.attachments/d1ed754971652b070236366e9e80bb1c/964cd1d0/72a3651d-f6b6-43c8-a3af-2a43804c837c_fullsize.jpg',
  'description': 'Curwin Bosch Signed BIL Jersey',
  'attributes': [{'trait_type': 'Owner', 'value': 'Frederick'}]},
 {'name': 'Jeremy Ward Signed BIL Jersey',
  'image': 'https://dl.airtable.com/.attachments/3da47d8bbcd181fab7c392365e201721/db4358fb/72a3aa72-b310-4dec-90fc-ac3671c104e3_fullsize.jpg',
  'description': 'Jeremy Ward Signed BIL Jersey',
  'attributes': [{'trait_type': 'Owner', 'value': 'Frederick'}]},
 {'name': 'Player 23 Seat Prize Draw',
  'image': 'https://dl.airtable.com/.attachments/dadb4020aea3e2fc1c186cb3a2a6ca80/dcd70f56/d6b6bc43-5b88-4300-b9d5-7267372ba39c_fullsize.jpg',
  'description': 'Player 23 Seat Prize Draw',
  'attributes': [{'trait_type': 'Owner', 'value': 'JohanGvd'}]},
 {'name': 'John Sit Springbok Century Jersey',
  'image': 'https://dl.airtable.com/.attachments/b1bebb56f957d335c560b7ae3f27773d/4f316b98/4529a7de-9015-46a1-b6f3-c8fc1d25bcb9_fullsize.jpg',
  'description': 'John Sit Springbok Century Jersey',
  'attributes': [{'trait_type': 'Owner', 'value': 'Malcom'}]},
 {'name': "Captain Phepsi Buthelezi's Boots",
  'image': 'https://dl.airtable.com/.attachments/b59b1dd08c15159922ab846f9317f697/6d902ded/fc835a20-bd0c-46d8-b8c9-f05a0619d646_fullsize.jpg',
  'description': "Captain Phepsi Buthelezi's Boots",
  'attributes': [{'trait_type': 'Owner', 'value': 'Ryanielove3'}]}]

In [168]:
json.dumps({'a':'b'})

'{"a": "b"}'

In [178]:
token_id = 0
for j in jsons:
    print(token_id, j)
    filename = str(token_id) + '.json'
    with open(filename, 'w') as f:
        json.dump(j, f, indent=2)
    token_id = token_id + 1

0 {'name': 'BIL Team Photo', 'image': 'https://dl.airtable.com/.attachments/6c4a96f8663df6a4b839d299b42a5a70/6d9c8af4/f0e0fe5e-f5cc-444d-8428-c9ed467de828_fullsize.jpg', 'description': 'BIL Team Photo', 'attributes': [{'trait_type': 'Owner', 'value': 'TG777'}]}
1 {'name': "Captain Phepsi Buthelezi's Boots", 'image': 'https://dl.airtable.com/.attachments/0c32934c491f76ed4e4c31410c74f3b8/ed1874c8/fc835a20-bd0c-46d8-b8c9-f05a0619d646_fullsize.jpg', 'description': "Captain Phepsi Buthelezi's Boots", 'attributes': [{'trait_type': 'Owner', 'value': '(burned)'}]}
2 {'name': 'Sharks Jersey', 'image': 'https://dl.airtable.com/.attachments/b143625af036634f011e1052b87c9f53/3d15394f/d4c71269-df3b-48d5-93be-864fa64e33df_fullsize.jpg,', 'description': 'Sharks Jersey', 'attributes': [{'trait_type': 'Owner', 'value': 'TG777'}]}
3 {'name': 'Photo A: Anthony Volmink', 'image': 'https://dl.airtable.com/.attachments/cf3fdd63e5b7ddd8dd83bc16c40936f5/c0415b9d/929e17e6-7325-4a66-838a-295838fbab6e_fullsize.jpg', 'description': 'Photo A: Anthony Volmink', 'attributes': [{'trait_type': 'Owner', 'value': 'Mr.NFT'}]}
4 {'name': 'Photo B: Siya Kolisi', 'image': 'https://dl.airtable.com/.attachments/397d192e173ec9cb1642e3555e8fc51c/c8b62780/8fcfc6d4-9e75-46d1-b80c-fb50718fdf0d_fullsize.jpg', 'description': 'Photo B: Siya Kolisi', 'attributes': [{'trait_type': 'Owner', 'value': 'GT001'}]}
5 {'name': 'Photo C: Locker Room', 'image': 'https://dl.airtable.com/.attachments/1c36a48dce5b29b13e0794ede9b93315/06c48626/dd4694ff-cf5b-414b-a7b4-aea49107df18_fullsize.jpg', 'description': 'Photo C: Locker Room', 'attributes': [{'trait_type': 'Owner', 'value': 'JohanGvd'}]}
6 {'name': 'Curwin Bosch Signed BIL Jersey', 'image': 'https://dl.airtable.com/.attachments/d1ed754971652b070236366e9e80bb1c/964cd1d0/72a3651d-f6b6-43c8-a3af-2a43804c837c_fullsize.jpg', 'description': 'Curwin Bosch Signed BIL Jersey', 'attributes': [{'trait_type': 'Owner', 'value': 'Frederick'}]}
7 {'name': 'Jeremy Ward Signed BIL Jersey', 'image': 'https://dl.airtable.com/.attachments/3da47d8bbcd181fab7c392365e201721/db4358fb/72a3aa72-b310-4dec-90fc-ac3671c104e3_fullsize.jpg', 'description': 'Jeremy Ward Signed BIL Jersey', 'attributes': [{'trait_type': 'Owner', 'value': 'Frederick'}]}
8 {'name': 'Player 23 Seat Prize Draw', 'image': 'https://dl.airtable.com/.attachments/dadb4020aea3e2fc1c186cb3a2a6ca80/dcd70f56/d6b6bc43-5b88-4300-b9d5-7267372ba39c_fullsize.jpg', 'description': 'Player 23 Seat Prize Draw', 'attributes': [{'trait_type': 'Owner', 'value': 'JohanGvd'}]}
9 {'name': 'John Sit Springbok Century Jersey', 'image': 'https://dl.airtable.com/.attachments/b1bebb56f957d335c560b7ae3f27773d/4f316b98/4529a7de-9015-46a1-b6f3-c8fc1d25bcb9_fullsize.jpg', 'description': 'John Sit Springbok Century Jersey', 'attributes': [{'trait_type': 'Owner', 'value': 'Malcom'}]}
10 {'name': "Captain Phepsi Buthelezi's Boots", 'image': 'https://dl.airtable.com/.attachments/b59b1dd08c15159922ab846f9317f697/6d902ded/fc835a20-bd0c-46d8-b8c9-f05a0619d646_fullsize.jpg', 'description': "Captain Phepsi Buthelezi's Boots", 'attributes': [{'trait_type': 'Owner', 'value': 'Ryanielove3'}]}